numpy>=1.26.0
plotly>=6.2.0
polars>=1.31.0
pandas>=2.2.3
polars_ds>=0.8.3
datasketches>=5.2.0
scikit-learn>=1.6.1
scipy>=1.10.1
streamlit>=1.46.1
streamlit_dynamic_filters>=0.1.9
streamlit-option-menu>=0.4.0
streamlit-dimensions>=0.0.1
streamlit-autorefresh>=1.0.1
streamlit-tags>=1.2.8
streamlit-sortables>=0.3.1
pillow>=10.4.0
tomlkit>=0.13.2
psutil>=7.0.0
python-dotenv>=1.1.0
pandasai>=3.0.0b17
pandasai-openai
kaleido>=1.0.0rc13
matplotlib
duckdb>=1.2.2
lifetimes>=0.11.3